.vs/
Debug/
lib/
x64/
Release/

Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
cmake-build-debug/
rhayader.dir/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.idea/

rhayader
build
_deps/
rhayader_tests
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
